/**
 * 样式重置
 */
button {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	border-radius: 0;
	outline: none;
}
button:focus {
	outline: none;
}
button:after {
	border: none;
}
